@font-face {
  font-family: 'MontBold';
  src: url('fonts/MontBold.ttf') format('truetype');
}

@font-face {
  font-family: 'MontBookItalic';
  src: url('fonts/MontBookItalic.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background {
	position: relative;
}

.background::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-position: center -25px;
  z-index: -2;
  animation-name: fadeIn;
  animation-duration: 1.3s;
}

.signature, nav {
  opacity: 0;
  animation-name: fadeInSignatureandNav;
  animation-duration: 0.7s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
}

.signature {
	padding-left: 80px;
}

header div {
	display: flex;
	align-items: center;
}

header {
	margin-top: -25px;
}

nav {
	text-align: right;
	margin-left: auto;
	padding-right: 80px;
	font-family: 'MontBold', sans-serif;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeInSignatureandNav {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

nav li {
	display: inline-block;
}

nav a {
	display: inline-block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	opacity: 0.5;
	transition: opacity 0.2s ease;
}

.quote {
  font-family: 'MontBookItalic', sans-serif;
  color: white;
}
